<div class="col-6 offset-3" style="margin-top: 50px;">
    <form method="post" action="/crud/edit">

<input type="hidden" name="id" value={{data.id}}>
       <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" value={{data.name}} name="name" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control"  value={{data.email}}  name="email" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">About me</label>
  <textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="3">{{data.about}}</textarea>
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>


</div>

    </form>


</div>

